<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HotelDBEntities" connectionString="metadata=res://*/HotelDBEntities.csdl|res://*/HotelDBEntities.ssdl|res://*/HotelDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DST58090\HOTEL;initial catalog=Hotel2;persist security info=True;user id=sa;password=Ctrip@1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>